/* Убирает с браузера лишние фичи */
html {
    box-sizing: border-box;
    font-size: 16px;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
    font-family: 'League Spartan', sans-serif;
}

ol,
ul {
    list-style: none;
}

/* ----------------------------------------- */

.header-container {
    display: flex;
    width: auto;
    padding-top: 104px;
    padding-left: 133px;
    padding-right: 133px;
    padding-bottom: 168px;
    background-color: #F8F8F8;

}

.header-container > :first-child {
    flex: 0 1 auto;
}

.header-title {
    font-size: 24px;
    line-height: 1.9;
    font-weight: 400;
    margin-bottom: 53px;
}

.header-subtitle {
    font-size: 250px;
    line-height: 1;
    margin-bottom: 43px;
}

.header-description {
    height: 142px;
    width: 575px;
    margin-bottom: 61px;
    font-size: 32px;
    line-height: 1.3;
}

.buy-wrapper {
    display: flex;


}

.buy-link {
    width: 278px;
    height: 82px;
    background-color: #161515;
    color: #fff;
    text-decoration: none;
    font-size: 32px;
    line-height: 2;
    text-align: center;
    margin-top: 61px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .3s ease-in-out;
}

.buy-link:hover {
    background-color: #ddd9d9;
    color: rgb(31, 30, 30);
}

.price {
    width: 143px;
    height: 82px;
    background-color: #ddd9d9;
    color: rgb(31, 30, 30);
    font-size: 32px;
    line-height: 2;
    text-align: center;
    margin-top: 61px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-img-wrapper {
    display: flex;
    margin-top: -107px;
    margin-left: 100px;
    flex: 1 1 50%;
}

.header-img-wrapper img {
    width: 100%;
    object-fit: contain;
    object-position: center;
}

.popular-title {
    margin-top: 43px;
    text-align: center;
    font-size: 24px;
    line-height: 1.9;
}

.models-title {
    text-align: center;
    font-size: 72px;
    line-height: 1.3;
    font-weight: 400;
    margin-bottom: 84px;
}

/* первая карточка */
.item-wrapper {
    margin: 0 auto;
    width: 417px;
    margin-bottom: 85px;
}

.item-img-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 417px;
    height: 630px;
    background-color: #F8F8F8;
    margin-bottom: 67px;
}

.item-img-wrapper > img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
}

.item-title {
    font-size: 32px;
    line-height: 1;
    margin-bottom: 17px;
    text-align: center;

}

.item-description {
    font-size: 32px;
    line-height: 1;
    font-weight: 300;
    text-align: center;
}

.product-description-wrapper {
    margin: 0 auto;
    width: 417px;
    margin-bottom: 85px;
}

.product-description-title {
    text-align: center;
    font-size: 32px;
    line-height: 2;
    margin-bottom: 58px;
    font-weight: 400;

}

.product-description {
    font-size: 24px;
    text-align: center;
    line-height: 1.9;
    font-weight: 300;
    width: 400px;

}

.link-product {
    color: #BB8B5D;


}